<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>distributed system</title>

<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/datepicker3.css" rel="stylesheet">
<link href="/static/css/bootstrap-table.css" rel="stylesheet">
<link href="/static/css/styles.css" rel="stylesheet">

<!--Icons-->
<script src="/static/js/lumino.glyphs.js"></script>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>distributed system</span></a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> User <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
							<li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
							<li><a href="#"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li><a href="/file/0/"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> 主面板</a></li>
			<li><a href="/file/show_file/"><svg class="glyph stroked  blank document"><use xlink:href="#stroked-blank-document"></use></svg> 文件</a></li>
			<!--<li><a href="charts.html"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Charts功能待定</a></li>-->
			
			<li><a href="/file/2/"><svg class="glyph stroked stroked-upload"><use xlink:href="#stroked-upload"></use></svg> 上传</a></li>
			<li><a href="/file/3/"><svg class="glyph stroked download"><use xlink:href="#stroked-download"></use></svg> 下载</a></li>
			<li><a href="/file/4/"><svg class="glyph stroked stroked-folder"><use xlink:href="#stroked-folder"></use></svg> 备份</a></li>
			<li><a href="/file/5/"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> 数据展示</a></li>
			<!--<li><a href="icons.html"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Icons</a></li>
			<li class="parent ">-->
				<!--a href="#">
					<span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> Dropdown 
				</a-->
				<ul class="children collapse" id="sub-item-1">
					<li>
						<a class="" href="#">
							<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 1
						</a>
					</li>
					<li>
						<a class="" href="#">
							<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 2
						</a>
					</li>
					<li>
						<a class="" href="#">
							<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 3
						</a>
					</li>
				</ul>
			</li>
			<li role="presentation" class="divider"></li>
			<li><a href="login.html"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Login Page</a></li>
		</ul>

	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="index.html"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">备份</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header"></h1>
			</div>
		</div><!--/.row-->
				
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">文件备份</div>
					<div class="panel-body">
						<table id="menu-table" data-toggle="table" data-url="tables/dish.json"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
						    <thead>
						    <tr>
						        <th data-field="state" data-checkbox="true"  >选中</th>
                                <th data-field="dish_type" data-sortable="false">类型</th>
                                <th data-field="name" data-sortable="true">名称</th>
						        <th data-field="spend"  data-sortable="true">价格</th>
						        <th data-field="waiting_time" data-sortable="true">等待时间</th>
						    </tr>
						    </thead>
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
		<div class="row">
            <div class="col-lg-12">
                <button class="btn" id="edit-btn" onclick="getClickedTableItems()">修改</button>
                <button class="btn" id="delete-btn" onclick="deleteItem()">删除</button>
                <button class="btn" id="add-btn" onclick="addItem()">增加</button>
            </div>
        </div>
		
		
	</div><!--/.main-->

	<script src="/static/js/jquery-1.12.0.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/chart.min.js"></script>
	<script src="/static/js/chart-data.js"></script>
	<script src="/static/js/easypiechart.js"></script>
	<script src="/static/js/easypiechart-data.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script src="/static/js/bootstrap-table.js"></script>
	<script src="/static/js/mindmup-editabletable.js"></script>
	<script>
        var editClicked = false;
        var addClicked  = false;



        function getClickedTableItems(){
            if(editClicked){
                $("edit-btn").html("修改");
                editClicked = false;
                var clicked_index = 1;
                for (var i = 1; i < 10; i++) {
                    var item = $("#menu-table tr:eq(" + i + ")");
                    if (item.attr("class")) {
                        clicked_index = i;
                    }
                }


            }else {
                $("edit-btn").html("确认修改");
                editClicked = true;
                for (var i = 1; i < 10; i++) {
                    var item = $("#menu-table tr:eq(" + i + ")");
                    if (item.attr("class")) {
                        item.attr("contenteditable", "true");
                    } else {
                        item.attr("contenteditable", "false");
                    }
                }
            }
        }

        function deleteItem(){
            for(var i = 1; i < 10; i++) {
                var item = $("#menu-table tr:eq(" + i + ")");
                if(item.attr("class")) {
                    item.remove();
                }
            }
        }

        function addItem(){
            if(addClicked) {
                var dish_type    = $("#menu-table tr:eq(11) td:nth-child(2)").html();
                var dish_name    = $("#menu-table tr:eq(11) td:nth-child(3)").html();
                var spend        = $("#menu-table tr:eq(11) td:nth-child(4)").html();
                var waiting_time = $("#menu-table tr:eq(11) td:nth-child(5)").html();

                var json_request = '[{"name":"' + dish_name
                                  + '","tag":0,"dish_type":"' + dish_type
                                  + '","waiting_time":' + waiting_time
                                  + ',"spend":' + spend + '}]';
                $.ajax({
                    type: "POST",
                    url: "http://10.60.44.189:3000/manager/login",
                    data: {dish:json_request},
                    ContentType: "application/json"
                });
                addClicked = false;
                $("#add-btn").html("增加");
            }else{
                $('<tr data-index="11" contenteditable="true"><td class="bs-checkbox"><input data-index="11" name="toolbar1" type="checkbox"></td><td style=""></td><td style=""></td><td style=""></td><td style=""></td></tr>"').insertAfter("#menu-table tr:eq(10)");
                addClicked = true;
                $("#add-btn").html("确认增加");
            }
        }

		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
</body>

</html>
